body {
  margin: 0;
}

header {
  background: #66cf25;
  text-align: center;
}

.logo {
  color: #fff;
  font-size: 40px;
  font-family: "Anton";
}

header input {
  font-size: 20px;
  margin: 20px 0;
}

.news_item {
  background: "red";
}
